.logo {
  position: relative;
  padding: 15px 15px;
  z-index: 4;
  background-color: whitesmoke; }

.pseudolink {
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  color: #333333; }

li.statistic-buttons {
  list-style-type: none;
  display: inline-block;
  padding: 5px; }

/*# sourceMappingURL=main.css.map */
.main-panel.main-panel_login {
  width: 100%; }

.color_LEAD, .material-icon_success {
  color: #4caf50 !important; }

.color_COM, .material-icon_warning {
  color: #ffa726 !important; }

.color_PRO, .material-icon_danger {
  color: #f44336 !important; }

.color_NEG, .material-icon_info {
  color: #00acc1 !important; }

.color_neutral, .material-icon_neutral {
  color: #999 !important; }

.static-color {
  color: #9c9c9c !important; }

.icon_normalized {
  padding: 3px;
  top: 0 !important; }

.person__name {
  line-height: 50px;
  padding: 0 20px; }

.select2-container--default .select2-selection--single {
  border: 0;
  background-image: linear-gradient(#3a7bd5, #3a7bd5), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  box-shadow: none;
  font-weight: 400;
  margin-top: 8px; }

.th-actions {
  min-width: 300px; }

th a {
  color: inherit; }

.card .archive__head[data-background-color="blue"] {
  background: linear-gradient(60deg, rgba(38, 198, 218, 0.6), rgba(0, 172, 193, 0.6));
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2); }

.card .archive__head[data-background-color="green"] {
  background: linear-gradient(60deg, rgba(102, 187, 106, 0.6), rgba(67, 160, 71, 0.6));
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2); }

.card .archive__head[data-background-color="orange"] {
  background: linear-gradient(60deg, rgba(255, 167, 38, 0.6), rgba(251, 140, 0, 0.6));
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2); }

.card .archive__head[data-background-color="red"] {
  background: linear-gradient(60deg, rgba(239, 83, 80, 0.6), rgba(229, 57, 53, 0.6));
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2); }

.form_no-padding .form-group {
  padding: 0;
  margin: 0; }

.margin-xs {
  margin: 5px 0; }

.btn_square-icon {
  margin: 0;
  padding: 5px !important; }

html {
  overflow-x: hidden; }

.wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: box; }

.content {
  margin-top: 80px;
  margin-left: 250px;
  height: 100%;
  min-height: 100%;
  padding: 20px;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1; }

.sidebar {
  background-color: whitesmoke;
  width: 250px;
  height: auto;
  min-height: 100vh;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  position: fixed; }

.projects-list {
  display: none; }

.projects:hover > .projects-list {
  display: block;
  position: relative;
  background-color: white;
  z-index: 100;
  width: 250px;
  padding: 0; }

.projects-list li {
  padding: 10px 20px 10px 40px; }

.projects-list li:hover {
  background-color: whitesmoke; }

.nav {
  background-color: whitesmoke; }

.nav li a, .projects-list li a {
  color: #89949B;
  display: inline-block;
  padding: 5px 10px; }

.nav li a:hover, .projects-list li a:hover, .dropdown-menu li:hover {
  background-color: whitesmoke; }

.up-navbar {
  position: absolute;
  width: 100%;
  padding: 10px 20px;
  color: #89949B;
  z-index: 100;
  margin-left: 250px; }

.up-navbar ul {
  list-style-type: none; }

.up-navbar > ul > li {
  display: inline-block;
  padding: 10px; }

.up-navbar .dropdown-menu {
  min-width: 30px;
  display: none; }

.up-navbar li.dropdown:hover > .dropdown-menu {
  position: absolute;
  color: darkgray;
  display: inline-block;
  background-color: white;
  margin: 0;
  padding: 5px 10px; }

.card-content {
  margin-top: 20px; }

/* Animation */
@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes loading {
  to {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes loading {
  to {
    -ms-transform: rotate(360deg); } }

@keyframes loading {
  to {
    transform: rotate(360deg); } }

/* Loader (*/
#loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #777;
  border-left: 4px solid #777;
  -webkit-animation: loading 1.2s infinite linear;
  -moz-animation: loading 1.2s infinite linear;
  -ms-animation: loading 1.2s infinite linear;
  animation: loading 1.2s infinite linear; }
